.body{
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.btncolor{
    background-color: #76bd81;
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 4px;
    color: white;

}

.navfont{
font-weight: 700;
}

.slider-section img{
    width: 100%;
    
   
}

.caption{
    margin-bottom: 300px;
    font-size: 60px;
    font-weight: 600;
    
}
.caption h5,p{
    color: black;
}
.second-section-head{
    margin-top: 80px;
    
}
.second-section-para{
    text-align: center;
}

.service-card{
    border: 0;
}
.service-card img{
    width: 20%;
}

.section-img img{
width: 100%;


}

.section-img{
    height: 500px;
    overflow: hidden;
    
}